<h1>Login</h1>

<form action="/users/login" method="post">
  Email:
  <input type="email" name="email" id="email" placeholder="Email" />
  Password:
  <input type="password" name="password" id="password" placeholder="Password" />
  <input type="submit" value="Login" />
</form>

<h2>¿Usuario nuevo?</h2>
<button onclick="location.href='/register'">Registro</button>